<h1>Animals#index</h1>
<p>
  <% @animals.each do |animal|%>
    <p>
      <%= link_to animal.name, animal_path(animal.id)%>
    </p>
  <% end %>

</p>

<!-- + ", " + animal.species + ", " + animal.age.to_s + " years old"  -->
