<h3>Animal Details</h3>

<div class="animal-details">
  <strong><%= @animal.name %></strong> the <%= @animal.species %> is <%= @animal.age %> years old
</div>
<br>
<%= link_to "Edit Animal", edit_animal_path(@animal.id) %>
